.postContainer {
	display: flex;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-bottom: 10px;
	background-color: white;
  }

  .voteContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 2.5rem;
  }
  
  .upvoteArrow, .downvoteArrow {
	cursor: pointer;
	color: #888;
	transition: color 1s;
	display: flex;
  }

  .upvoteArrow {
	margin-top: 0.25rem;
  }

  .downvoteArrow {
	margin-bottom: 0.25rem;
  }
  
  .upvoteArrow:hover, .downvoteArrow:hover {
	color: #ff4500; /* Reddit's upvote color */
  }

  .voteIcon {
	cursor: pointer;
	transition: color 1s ease-in;
  }

  .outline, .filled {
	width: 1.75rem;
	fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 2;
  }

  .outline>g>g>g>path {
	fill: none;
	fill-rule: nonzero;
	stroke: black;
	stroke-width: 4px;
  }

  .filled > g> g> g>path {
	fill: blue;
  }
  
  .disabled {
	cursor: not-allowed;
	opacity: 0.5;
  }
  
  .voteCount {
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
  }
  
  .thumbnail {
	width: 70px;
	height: 70px;
	border-radius: 4px;
	object-fit: cover;
	margin-right: 1rem;
  }

  .textPostIcon {
	width: 3em;
  height: 3em;
  stroke-width: 1.5px;
  margin-right: 1rem;
  }
  
  .postContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
  }
  
  .title {
	font-size: 1.2rem;
	font-weight: bold;
	color: #1a0dab;
	text-decoration: none;
	transition: color 0.3s ease;
	width: fit-content;
  }
  
  .title:hover {
	color: #0079d3;
  }
  
  .meta {
	font-size: 0.75rem;
	color: #606060;
	width: fit-content;
  }
  
  .meta a {
	color: #0079d3;
	text-decoration: none;
  }
  
  .meta a:hover {
	text-decoration: underline;
  }
  
  .comments {
	font-size: 0.8rem;
	font-weight: bold;
	color: #606060;
	width: fit-content;
  }
  
  .comments:hover {
	color: #0079d3;
  }
  
  