.postPage {
	width: 80%;
	padding: 2rem;
}

.postHeader {
	display: flex;
}

.voteContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1rem;
	width: 5%;
  }
  
  .upvoteArrow, .downvoteArrow {
	cursor: pointer;
	color: #888;
	transition: color 1s;
	display: flex;
  }

  .upvoteArrow {
	margin-top: 0.25rem;
  }

  .downvoteArrow {
	margin-bottom: 0.25rem;
  }
  
  .upvoteArrow:hover, .downvoteArrow:hover {
	color: #ff4500; /* Reddit's upvote color */
  }

  .voteIcon {
	cursor: pointer;
	transition: color 1s ease-in;
  }

  .outline, .filled {
	width: 1.75rem;
	fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 2;
  }

  .outline>g>g>g>path {
	fill: none;
	fill-rule: nonzero;
	stroke: black;
	stroke-width: 4px;
  }

  .filled > g> g> g>path {
	fill: blue;
  }
  
  .disabled {
	cursor: not-allowed;
	opacity: 0.5;
  }
  
  .voteCount {
	font-size: 1.2rem;
	font-weight: bold;
	color: #000;
  }

  .titleContainer{
	width: 95%;
  }

.title{
margin: 0;
}

.meta{
	margin: 0;
	font-size: 0.7rem;
}

.content{

}