.header {
	max-width: 100vw;
	background-color: white;
	border-bottom: 1px solid #e0e0e0;
	z-index: 1000;
  }
  
  .headerContent {
	display: flex;
	align-items: end;
  }
  
  .logo img {
	height: 35px;
	padding: 10px; /* Adjust size as needed */
	padding-bottom: 0px;
  }
  
  .navLeft {
	display: flex;
	gap: 15px; /* Space between nav links */
  }
  
  .navLeft a {
	text-decoration: none;
	color: #0079d3;
	font-weight: bold;
  }
  
  .navLeft a:hover {
	color: #0056a3;
  }
  
  .navRight {
	display: flex;
	gap: 15px; /* Space between profile and logout links */
	margin-left: auto;
  margin-right: 2rem;
  }
  
  .navRight a {
	text-decoration: none;
	color: #0079d3;
	font-weight: bold;
  }
  
  .navRight a:hover {
	color: #0056a3;
  }
  